<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>
    <link rel='stylesheet' href="../public/stylesheets/material.css"/>
</head>
<body>
    <div id="sidebar">
        <div class="sidebar_button">
            &lt;
        </div>
        <div class="sidebar_page">
        </div>
    </div>

    <div id="modal">
        <div class="modal_prof">
            <div class="modal_header">
                <button class = close>&#x274C;</button>
            </div>

            <div class="modal_main">
                <form action="" method = "post" enctype="multipart/form-data">
                    <div class = "modal_block"><img id = uploadImg src="../public/images/basic.png"/></div>
                    <br>
                    <input type="text" placeholder = '이름' class = "prof_modal_name">
                    <br>
                    <input type="text" placeholder = '수량' class = "prof_modal_number">
                    <br>
                    <input type = "submit" class = "button" id = register_button value="등록">
                </form>
            </div>        
        </div>

        <div class = modal_content>
            <div class="modal_header">
                <button class = close>&#x274C;</button>
            </div>
            <div class="modal_main">
                <form action="" enctype="multipart/form-data">
                    <div class = "modal_block"><img src=""/></div>
                    <br>
                    <div class="student_modal_name"></div>
                    <br>
                    <input type="text" class = student_modal_number>
                    <br>
                    <button class = "button" id = rent_button>대여</button>
                </form>
            </div>
        </div>
    </div>

    <div id = "header">
        <div id = "logo">
            <a href="../calendar">
              <img src='../public/images/logo.png'/>
            </a>
        </div>
        <div id = pageName><%=posts.name%></div>
    </div>
    
    <hr>

    <div class = root id = "content">
        <div id="container">
            <div class="box" id = add>
                <button class= block style = "font-size:500%">&#x2795;</button>
            </div> 
        </div>
    
        <div id="blank"></div>
    </div>

    <% var userStatus = 0 %> 
    <% if (session.job == 'student') {%>
        <% userStatus = 1 }%>
    <% var m_name = [] %>
    <% var m_maxNum = [] %>
    <% var m_num = [] %>
    <% var count = 0 %>
    <% for(let material of materials) { %>
        <% m_name[count] == material.name %>
        <% m_maxNum[count] == material.maxNum %>
        <% m_num[count] == material.num %>  
        <% count++ %>
    <% } %>
    <% count-- %>
    <p style="display: none;" id="userStatus"><%=userStatus%></p>
    <p style="display: none;" id="subjectName_value"><%=posts.Name%></p>
    <p style="display: none;" id="subjectColor_value"><%=posts.color%></p>
    <p style="display: none;" id="material_count"><%=count%></p>
    <p style="display: none;" id="m_name"><%=m_name%></p>
    <p style="display: none;" id="m_maxNum"><%=m_maxNum%></p>
    <p style="display: none;" id="m_num"><%=m_num%></p>
    
    
    <script src="../public/javascripts/material.js"></script>
</body>
</html>
