<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>material</title>
    <link rel='stylesheet' href="../public/stylesheets/material.css"/>
</head>
<body bgcolor="E2F1F4">
    <div class = stack id="modal">
        <div class = modal_content>
            <button id = close>X</button>
            <div class = "modal_component block" id = img>

            </div>
            
            <div class = modal_component id = name>  

            </div>

            <div class = modal_component id="num">  

            </div>

            <button class = modal_component id = submit>submit</button>
        </div>
    </div>

    <div class="stack" id = mainPage>
        <div id = "header">
            <div class = "headerComponent" id = "logo">
                <a href="../calendar">
                  <img src='../public/images/logo.png'/></a>
              </div>
            
            <div class = "headerComponent" id = "pageTitle">
                <div id = subjectColor></div>
                <div id = subjectName><%=posts.name%></div>
            </div>
        
        </div>
    
        <div id = "content">
                <div class="box" id = add>
                    <button class= block style = "font-size:500%">&#x2795;</button>
                <!--    <div class = name>name</div> -->
                </div> 
            
        </div>
    </div>
    <% var userStatus = 0 %> 
    <% if (session.job == 'student') {%>
        <% userStatus = 1 }%>
    <% var m_name = [] %>
    <% var m_maxNum = [] %>
    <% var m_num = [] %>
    <% var count = 0 %>
    <% for(let material of materials) { %>
        <% m_name[count] == material.name %>
        <% m_maxNum[count] == material.maxNum %>
        <% m_num[count] == material.num %>  
        <% count++ %>
    <% } %>
    <% count-- %>
    <p style="display: none;" id="userStatus"><%=userStatus%></p>
    <p style="display: none;" id="subjectName_value"><%=posts.Name%></p>
    <p style="display: none;" id="subjectColor_value"><%=posts.color%></p>
    <p style="display: none;" id="material_count"><%=count%></p>
    <p style="display: none;" id="m_name"><%=m_name%></p>
    <p style="display: none;" id="m_maxNum"><%=m_maxNum%></p>
    <p style="display: none;" id="m_num"><%=m_num%></p>
   
    <script src="../public/javascripts/material.js"></script>
</body>
</html>
