<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../public/stylesheets/questionBoard.css' />
</head>

<body>
  <div id="header">

    <div id="logo">
      <a href="../calendar">
        <img src='../public/images/logo.png' /></a>

    </div>

    <div id=pageName>소프트웨어공학개론</div>
  </div>

  <hr>



  <div id="sidebar">
    <div class="sidebar_button">
      &lt;
    </div>
    <div class="sidebar_page">
    </div>
  </div>


  <div id="content">

    <p><br><br></p>
    <div style="width:80%;">
      <h3>실시간 질문방</h3>
      <br>

      <center>
        <table width="100%">

          <tr>
            <td id="t1_2" width="80" style="font-weight: 550">&nbsp;&nbsp;&nbsp;<%=subject.name%> 채팅방</td>
            <!--db 값 받아오기-->

            <th id="t1_2" width="20" style="font-weight: 550"> <a href="#" onclick="window.open('/chat','window','width=400,height=700')">채팅방 입장</a><br /></th>
        
            <!--페이지 연결-->
          </tr><!-- 첫번째 줄 끝 -->
        </table>
      </center>
    </div>


    <br><br><br><br>
    <div style="width:80%;">
      <h3>질문 게시판</h3>
      <br>
      <center>
        <table width="100%">
          <tr>
            <!-- 번호, 제목, 작성자, 날짜-->
            <th id="t1_2" width="10%">No</th>
            <th id="t1_2" width="50%"> 제목</th>
            <th id="t1_2" width="20%">작성자</th>
            <th id="t1_2" width="20%">날짜</th>
          </tr>
          <!-- 디비 만큼 생성-->
          <% var count = 1 %>
          <% for (let qboard of qboards) { %>
          <tr>
            <td id="t1" align="center"><%=(qboard.qboard_count)-count+1%></td>
            <td id="t1"><a href="/questionBoard/read/<%=subject.name%>/<%=qboard.title%>"><%=qboard.title%></a></td>

            <td id="t1" align="center"><%=qboard.u_id %> </td>
            <td id="t1" align="center"><%=qboard.createdAt%></td>
            <% count++ %>
          </tr>
          <% } %>

        </table>
      </center>

      <br>
      <button id="modal_button" style="float:right;">글 작성</button>

      <!--글작성 모달창-->
      <div class="modal">
        <div class="modal_content">
          <div class="ui_container">
            <div class="ui_border">
              <br><br><br><br>

              <form action="/questionBoard" method="POST">

                <center>
                  <h2>>>질문게시판 글 작성</h2>
                  <br><br>

                </center>
                <div class="border_cont">
                  <input name="title" placeholder="제목" type="text" class="inq_field"
                    style="font-size: 2ch;  border-top: 1px solid #dedede;border-bottom: 1px solid #dedede; padding-top: 10px; padding-bottom: 10px;" />

                  <textarea name="content" id="" cols=5 rows="7" placeholder="내용을 입력해주세요."></textarea>
                </div>

                <form>
                  <center>
                    <div class="btn_area">
                      <input type="button" id="close_button" value="취소">
                      <input type="submit" id="btn_submit" value="등록">
                    </div>
                  </center>
                </form>
              </form>
            </div>
          </div>
        </div>
      </div>





      <% var q_title = [] %>
      <% var q_content = [] %>
      <% var q_u_id = [] %>
      <% var q_reply = [] %>
      <% var count = 0 %>
      <% for(let qboard of qboards) { %>
      <% q_title[count] == qboard.title %>
      <% q_content[count] == qboard.content %>
      <% q_u_id[count] == qboard.u_id %>
      <% q_reply[count] == qboard.reply %>
      <% count++ %>
      <% } %>
      <% count-- %>
      <p style="display: none;" id="title_value"><%=q_title%></p>
      <p style="display: none;" id="content_value"><%=q_content%></p>
      <p style="display: none;" id="u_id_value"><%=q_u_id%></p>
      <p style="display: none;" id="reply_value"><%=q_reply%></p>
      <p style="display: none;" id="count_value"><%=count%></p>

      <script src="../public/javascripts/modal.js"></script>
    </div>
</body>

</html>