<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subject</title>
    <link rel = "stylesheet" href="../public/stylesheets/subject.css"/>
</head>

<body bgcolor="E2F1F4">
    <div id="sidebar">
        <div class="sidebar_button">
            &lt;
        </div>
        <div class="sidebar_page">
        </div>
    </div>

    <div class="stack" id = modal>
        <div class = modal_attend>
            <div id="modal_attend_header">
                <button class = close id = attend_close>&#x274C;</button>
            </div>
            <div id="modal_attend_content">
                <div id="attendance_status"></div>
            </div>
        </div>

        <div class="modal_homework">
            <div id="modal_homework_header">
                <button class = close id = homework_close>&#x274C;</button>
            </div>
            <div id="modal_homework_content">

            </div>
        </div>
    </div>

    <div class = stack id="mainPage" style = "overflow: scroll">
        <div id = "header">
            <div class = "headerComponent" id = "logo">
                <img src='../public/images/logo.png'/>
            </div>
            
            <div class = "headerComponent" id = "pageTitle">
                <div class = circle id = subjectColor></div>
                <div id = subjectName><%=posts.name%></div>
            </div>  
        </div>

        <div id = content>
            <div id = top>
                <a class = 'btn topContent' id = attendance href = #>출석 &#9661;</a>
                <a class = 'btn topContent' id = material href="../material/material.html">기자재 &#8614;</a>
                <a class = 'btn topContent' id = dataRoom href="../dataRoom/dataRoom.html">학습자료실 &#8614;</a>    
                <a class = 'btn topContent' id = question href="../question/question.html">질문게시판 &#8614;</a>    
            </div>
            
            <div id = 'attendanceToggle'>
                <button class = attendanceButton>&#x2B05;</button>
                <div class = 'date' id = prev>
                    <div class = week id = prevWeek>1주차 1강</div>
                    <button class="box" id = prevBox></button>
                </div>
            
                <div class = 'date' id = now>
                    <div class = week id = nowWeek>1주차 2강</div>
                    <div class="box" id = nowBox></div>
                </div>
            
                <div class = 'date' id = next>
                    <div class = week id = nextWeek>2주차 1강</div>
                    <div class="box" id = nextBox></div>
                </div>
                <button class = attendanceButton>&#x27A1;</button>
            </div>

            <div id = bottom>
                <div id = botHeader> 
                    <a class =  btn id = homework>과제</a> </div>
                <div id = botContent>
                    <div id="noHw">등록된 과제가 없습니다.</div>
            </div>
            
        </div>
        </div>
    </div>
    <% var userStatus = 0 %> 
        <% if (session.job == 'student') {%>
            <% userStatus = 1 }%>  
        <p style="display: none;" id="userStatus"><%=userStatus%></p>
        <p style="display: none;" id="subjectName_value"><%=posts.Name%></p>
        <p style="display: none;" id="subjectColor_value"><%=posts.color%></p>
        <% var subject_value = []%>
        <% var s_id_value = []%>
        <% var date_value = []%>
        <% var status_value = []%>
        <% var count = 0 %>
        <% for(let attend of attends) { %>
            <%subject_value[count] = attend.subject%>
            <%s_id_value[count] = attend.s_id%>
            <%date_value[count] = attend.date%>
            <%status_value[count] = attend.status%>
            <% count++ %>
        <% } %>
        <% count-- %>
        <p style="display: none;" id="attend_count"><%=count%></p>
        <p style="display: none;" id="subject_value"><%=subject_value%></p>
        <p style="display: none;" id="s_id_value"><%=s_id_value%></p>
        <p style="display: none;" id="date_value"><%=date_value%></p>
        <p style="display: none;" id="status_value"><%=status_value%></p>

<script src="../public/javascripts/subject.js"></script>
</body>

</html>