<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subject</title>
    <link rel = "stylesheet" href="../public/stylesheets/subject.css"/>
</head>

<body>
    <div id="sidebar">
        <div class="sidebar_button">
            &lt;
        </div>
        <div class="sidebar_page">
        </div>
    </div>

    <div id = modal>
        <div class = modal_attend>
            <div id="modal_attend_header">
                <button class = close id = attend_close>&#x274C;</button>
            </div>
            <div id="modal_attend_content">
                <div id="attendance_status"></div>
            </div>
        </div>

        <div class="modal_homework">
            <div id="modal_homework_header">
                <button class = close id = homework_close>&#x274C;</button>
            </div>
            <div id="modal_homework_content">

            </div>
        </div>

        <div class="modal_register">
            <div id="modal_register_header">
                <button class = close id = register_close>&#x274C;</button>
            </div>
            <div id="modal_register_content">
                <form id = form_prof action="" style = "display: flex;">
                    <div class="top_prof">
                        <input style = "width : 90%; " type="text" placeholder="과제 이름">
                    </div>
                    <div class="mid_prof">
                        <button style = "height:42%; width: 90%;">첨부파일</button><input style = "height: 30%; width: 90%;" type="text" placeholder="제출기한">
                    </div>
                    <div class="bot_prof">
                        <textarea style = " height: 80%; width: 90%;"type="text" placeholder="과제 설명"></textarea>
                        <button type = submit> 등록 </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div id = "header">
            <div id = "logo">
                <a href="../calendar">
                  <img src='../public/images/logo.png'/></a>
              </div>
            <div id = pageName><%=posts.name%></div>
    </div>
        
    <hr>
        
    <div id = content>
            <div id = top>
                <div class="nav_bar">
                    <a class = 'btn' id = material href="../material">기자재 &#8614;</a>
                    <a class = 'btn' id = dataRoom href="../dataRoom">학습자료실 &#8614;</a>    
                    <a class = 'btn' id = question href="../questionBoard">질문게시판 &#8614;</a>    
                </div>

                <button class = 'btn' id = attendance>출석 &#9661;</button>
            </div>
            <br>
            <div id = 'attendanceToggle'>
                <div class = 'date' id = prev>
                    <div class = week id = prevWeek>1주차 1강</div>
                    <button class="box" id = prevBox></button>
                </div>
            
                <div class = 'date' id = now>
                    <div class = week id = nowWeek>1주차 2강</div>
                    <div class="box" id = nowBox></div>
                </div>
            
                <div class = 'date' id = next>
                    <div class = week id = nextWeek>2주차 1강</div>
                    <div class="box" id = nextBox></div>
                </div>
            </div>

            <br>
            

            <div id = bottom>
                <div id = botHeader> 
                    <a class =  btn id = homework>과제</a>
                </div>
                <br>
                

                <center>
                <div id = botContent>
                    <br>
                    <div class="register_button"> <button class="btn" id="prof_new">과제 등록</button> </div>
                    
                    <div id="noHw">
                        등록된 과제가 없습니다.
                    </div>
            </div>
        </center>
            
            </div>
    </div>
    
    <% var userStatus = 0 %> 
        <% if (user_session.user_job == 'student') {%>
            <% userStatus = session.user_id }%>  
        <p style="display: none;" id="userStatus"><%=userStatus%></p>
        <p style="display: none;" id="subjectName_value"><%=posts.Name%></p>
        <p style="display: none;" id="subjectColor_value"><%=posts.color%></p>
        <% var subject_value = []%>
        <% var s_id_value = []%>
        <% var date_value = []%>
        <% var num_value = []%>
        <% var status_value = []%>
        <% var count = 0 %>
        <% var cnt = 0 %>
        <% for(let attend of attends) { %>
            <%subject_value[count] = attend.subject%>
            <%s_id_value[count] = attend.s_id%>
            <%date_value[count] = attend.date%>
            <%num_value[count] = attend.num%>
            <%status_value[count] = attend.status%>
            <% count++ %>
        <% } %>
        <% count-- %>
        <p style="display: none;" id="attend_count"><%=count%></p>
        <p style="display: none;" id="subject_value"><%=subject_value%></p>
        <p style="display: none;" id="s_id_value"><%=s_id_value%></p>
        <p style="display: none;" id="date_value"><%=date_value%></p>
        <p style="display: none;" id="num_value"><%=num_value%></p>
        <p style="display: none;" id="status_value"><%=status_value%></p>
        <p style="display: none;" id="user_subject"><%=user_session.user_subject%></p>

<script src="../public/javascripts/subject.js"></script>
</body>

</html>