
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='../../../public/stylesheets/questionBoard.css'/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> 
	
	<script>	
	$(document).ready(function(){ 
		$("#btn_reply").click(function(){
				if($("#reply_content").val().length==0){ alert("내용을 입력하세요."); $("#reply_content").focus(); return false; }
				
			});		
	});
  </script>
  
</head>

<header>
  <div id="logo">
    <a href="../../../login">
      <img src='../../../public/images/logo.png' /></a>
  </div>
  <div id=pageName><%=subject.name%></div>
  <div class="welcome" width="190px">
    <p id="user_id">김지훈님, 환영합니다!</p>
  </div>

</header>

<body >

  
  <hr>
  <br>

  
  
  
  <div id="content">

  <button id= "btn_backtolist" onclick="location.href='/questionBoard' " style="float:right;">목록보기</button>
  <br><br>
  <div style="width:80%;">
<center>
  
    <table width="100%" >
      <tr>
        <td id="t1_head" colspan="6" width="800">&nbsp;<%=qboard.title%></td>
      </tr>
      <tr>
        <td id="t1_1" width="100" align="right">작성자</td> <!--텍스트 내용 오른쪽 정렬-->
        <td id="t1_1" colspan="2" width="200"><%=qboard.u_id%></td>
        <td id="t1_1" width="100" ></td> <!--텍스트 내용 오른쪽 정렬-->
        <%   var sYear = qboard.createdAt.getFullYear(); %>
        <%   var sMonth = qboard.createdAt.getMonth() + 1; %>
        <%   var sDate = qboard.createdAt.getDate(); %>
        <%   var sHour = qboard.createdAt.getHours(); %>
        <%   var sMinute =qboard.createdAt.getMinutes(); %>
        <%   sMonth = sMonth > 9 ? sMonth : "0" + sMonth; %>
        <%   sDate = sDate > 9 ? sDate : "0" + sDate; %>

        <td id="t1_1" colspan="2" width="200" align="right"><%= sYear%>.<%=sMonth%>.<%=sDate%>. <%=sHour%>:<%=sMinute%></td>
      </tr>
      <tr>
        <td id="t1" colspan="6" width="800" height="5">내용</td> <!--폭 줄이기-->
      </tr>
      <tr>
        <td id="t1" colspan="6" width="800" height="200">  <pre>
          <%=qboard.content%>
        </pre>
        </td> <!--왼쪽 위 정렬 해야함-->
      </tr>

    </table>
</center>
  </div>
  
  <br>
   
         <!--이거는 작성자=로그인한 사람일 때만 출력 (자신이 작성한 글 수정, 삭제 기능) -->


         <div class="modal2">
          <div class="modal_content">
            <div class="ui_container">
              <div class="ui_border" >
                <br><br><br><br>
                <form action="/questionBoard/read/questionModify" method="POST">
                <center>
                  <h2>>>질문 수정</h2>
                  <br><br>
                <div class="border_cont">
                  <input type="text" value=<%=qboard.title%> name="pre_title" style="display:none;"  />
                  <input type="text" value=<%=qboard.title%> class="inq_field" 
                  style="font-size: 2ch;  border-top: 1px solid #dedede;border-bottom: 1px solid #dedede; padding-top: 10px; padding-bottom: 10px;"  />
                  <textarea name="" id="" cols="5" rows="7"><%=qboard.content %></textarea>
                </div>
              </center>
                <center>
                <div class="btn_area">
                  
                  <input type="button" id="close_button" value="취소"  >
                  <input type="submit" id="btn_submit" value="등록" onclick="alert('질문이 수정되었습니다.');">
                  <br>
                </div>
                </center>
              </form>
              </div>
            </div>
          </div>
      </div>
  

      <div >
          <button id= "modal_button2">수정</button>
      
      <script src="../../../public/javascripts/modal2.js"></script>

        <form action="/questionBoard/read/questionDelete" method="POST">
          <input style="display: none;" type="text" name="title" value="<%=qboard.title %>" />
          <input style="display: none;" type="text" name="u_id" value="<%=qboard.u_id %>" />
          <input type="submit" value="삭제" id="btn_del" />
        </form>

      <br><br>
    </div>
   
<div style="width:80%;">

  

<table width="100%" >
<% var u_id%>
<% for (let qreply of qreplies) {%> 
  <% for (let user of users) {%> 
    <% if (user.user_id == qreply.u_id) {%> 
      <% u_id = user.user_name %> 
      <% if (qboard.u_id == qreply.u_id) {%> 
        <% u_id = "글쓴이" %> 
      <% } %> 
    <% } %> 
     
    <% } %> 
    <%   var rYear = qreply.createdAt.getFullYear(); %>
  <%   var rMonth = qreply.createdAt.getMonth() + 1; %>
  <%   var rDate = qreply.createdAt.getDate(); %>
  <%   var rHour = qreply.createdAt.getHours(); %>
  <%   var rMinute =qreply.createdAt.getMinutes(); %>
  <%   rMonth = rMonth > 9 ? rMonth : "0" + rMonth; %>
  <%   rDate = rDate > 9 ? rDate : "0" + rDate; %>
  <tr>
    <td>ㄴ 작성자 : <%=u_id %>  </td>
    <td id="t2" align="right"><%= rYear%>.<%=rMonth%>.<%=rDate%>. <%=rHour%>:<%=rMinute%></td>
  </tr>
  <tr>
    <td id="t3" colspan="2" align="left" ><pre><%=qreply.content%></pre></td>
  </tr>
<% } %> 
</table>

    <br><br>
    <form action="/questionBoard/read/createReply" method="POST">
    <input type="text" value=<%=qboard.subject%> name="q_subject" style="display : none;"/>
    <input type="text" value=<%=qboard.id%> name="q_id" style="display : none;"/>
    <textarea id="reply_content" placeholder="답글을 입력해주세요." width="50%" name="qreply_content"></textarea>
    <input type="submit" value="답변달기" id="btn_reply" width="20%" />
    </form>
    <br><br>
    <br><br>

  </div>
</div>
</body>
</html>
